.topBar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(50, 50, 50);
    border-bottom: 1px solid black;
    height: 40px;
    width: 100vw;
    max-width: 100%;
}

.searchBar {
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
    color: inherit;
    font-family: inherit;
    margin: 4px 5px;
    margin-left: 20px;
    padding-left: 5px;
    width: 100%;
    transition: transform 0.25s ease-in-out;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 10px;
    transform: translateX(150%);
}

.searchBar:focus {
    border-color: ivory;
}

.searchIcon {
    display: flex;
    margin-right: 5px;
    height: 100%;
    align-items: center;
    transition: transform 0.25s ease-in-out;
    transition-delay: 0.25s;
    cursor: pointer;
    transform: translateX(150%);
}

.searchIcon:not(.active) {
    width: 0;
    visibility: collapse;
}

.active {
    transform: translateX(0);
}

.menuIcon {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.sideMenu {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70vw;
    overflow-y: auto;
    background-color: rgb(60, 60, 60);
    transform: translateX(0);
    transition: transform 0.25s ease-in-out;
}

.sideMenu .menuIcon {
    position: absolute;
    right: 0;
    margin: 10px;
}

.hidden {
    transform: translateX(-100%);
}

.menuWrapper {
    display: inline-block;
    height: 100%;
}

.menuList {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

li a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    height: 100%;

}

li a:hover, li a:focus, li a:active {
    background-color: rgb(80, 80, 80);
}

.sideMenu .menuList {
    box-sizing: border-box;
    height: 100%;
}

.sideMenu li {
    box-sizing: border-box;
    height: 10%;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}

.sideMenu li:last-child{
    border-bottom: 1px solid black; 
}

.sideMenu li a {
    padding-left: 10px;
}

.topBar .menuList {
    display: none;
}

@media screen and (max-width: 699px) and (orientation: landscape) {
    .sideMenu li {
        height: 20%;
    }
}

@media screen and (min-width: 700px) {
    .menuIcon {
        display: none;
    }
    .topBar .menuList {
        height: 100%;
        margin: 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-basis: auto;
    }
    li a {
        padding: 0 10px;
    }
    .sideMenu {
        display: none;
    }
    .searchBar {
        margin-right: auto;
        transform: none;
        max-width: 400px;
    }
    .searchIcon {
        display: none;
    }
}