.post {
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(50, 50, 50);
    word-wrap: break-word;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}

.title, .author, .text, .time {
    margin: 0;
}

.title {
    font-size: 1.5rem;
}

.header {
    display: flex;
}

.author {
    font-size: 0.8rem;
    font-weight: bold;
}

.menuContainer {
    margin-left: auto;
}

.text {
    white-space: pre-wrap;
    margin-top: 10px;
    font-size: 0.9rem;
}

.time {
    color: rgb(170, 170, 170);
    font-size: 0.7rem;
}

.actionSection {
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.score {
    font-size: 1.5rem;
}

.plus {
    margin-left: 15px;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    font-size: inherit;
    font-family: inherit;
    padding: 3px;
    color: rgb(170, 255, 140);
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.plus:active, .plus:hover, .active {
    background-color: rgb(120, 255, 70);
    color: black;
}

.commentCount {
    margin-left: auto;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.commentCount:hover, .commentCount:active {
    color: rgb(170, 170, 170);
}