.container {
    box-sizing: border-box;
    background-color: rgb(35, 35, 35);
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.name {
    margin: 5px;
    font-size: 1.5rem;
}

.stat {
    margin: 2px;
    font-size: 0.9rem;
}

.center{
    display: flex;
    width: 100%;
    justify-content: center;
}