@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    margin: 0;
    background-color: rgb(40, 40, 40);
    font-family: 'Roboto', Arial, sans-serif;
    color: ivory;
    overflow-x: hidden;
}

header {
    position: fixed;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(110, 180, 255);
}

@media screen and (pointer: coarse) {
    *:focus {
        outline: none;
    }
}