.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: black;
    display: block;
    opacity: 0.4;
    height: 100vh;
    width: 100vw !important;
    max-width: 100vw !important;
}

.hidden {
    display: none;
}