.communicate {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fixed {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.absolute {
    position: absolute;
}