.message {
    box-sizing: border-box;
    background-color: rgb(60, 60, 60);
    width: 100%;
    padding: 40px 10px;
    border: 1px solid black;
    border-bottom: none;
}

.buttonContainer {
    box-sizing: border-box;
    padding: 10px 0;
    background-color: rgb(60, 60, 60);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid black;
    border-top: 1px solid rgb(30, 30, 30);
}

button:last-child {
    margin-left: auto;
}