.container {
    width: 100%;
    margin-bottom: 10px;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title, .text {
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    color: inherit;
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(100, 100, 100);
    margin: 0;
    padding-left: 5px;
    resize: none;
}

.title {
    display: flex;
    font-size: 1rem;
    height: 30px;
    align-items: center;
    border-bottom: none;
}

.text {
    font-size: 0.9rem;
    margin-bottom: 5px;
    padding-top: 5px;
    height: 15vh;
}


.validationMessages {
    display: block;
    box-sizing: border-box;
    color: rgb(170, 0, 0);
    list-style: none;
    margin: 0;
    padding-left: 5px;
}

.validationMessages li {
    margin-bottom: 5px;
}

input[type="submit"] {
    color: inherit;
    padding: 10px;
    font-family: inherit;
    font-size: 1rem;
    background-color: rgb(100, 100, 100);
    border: 2px solid rgb(50, 50, 50);
}

@media screen and (min-width: 700px) {
    .container {
        max-width: 700px;
    }
    input[type="submit"] {
        padding: 2px 5px;
        margin-left: auto;
    }
    input[type="submit"]:hover {
        cursor: pointer;
        border-color: ivory;
    }
}